* {
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.navbar-logo {
  width: 160px;
}

.minhapokedex{
  cursor: pointer;
  margin-top: 0.5rem;
  color: #fff;
  background-color: #0d6efd;
  box-sizing: border-box;
  border-radius: 5px;
  padding:  10px;
  border: none;
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding:  20px;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  
}

.searchbar {
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.searchbar-btn button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 44px;
  color: white;
  padding: 10px 12px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  background-color: #262626;
  color: white;
  
}

.pokedex-header:hover {
  color: #FAC705;
  transition: 200ms ease-in;
}

.pokedex-grid {
  display: flex;
  gap: 25px;
  /* grid-template-columns: repeat(3, 1fr); */
  background-color: #262626;
  color: white;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}



.detalhes-card{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  text-transform: capitalize;
  position: flex;
  font-family: 'Inter';
  font-size: 20px;
  margin-left: -120px;
  
}

.IconeImg {
  width: 30px;
    height: 30px;
    border-radius: 50%;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 1.1);
  border: solid 1px #0e6f9f;
  border-radius: 12px;
  width: 440px;
  height: 200px;
  margin: 0 15px 0 25px;
  background-color: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(15px);
  transition: all 0.5s;
   
}

.pokemon-card:hover{
  -webkit-transform: scale(1.4);
  transform: scale(1.05);
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  width: 193px;
  height: 193px;
  left: 274px;
  top: 294px;
  
}


.pokemon-image-container {
  padding: 0px 5px;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 8px 8px 0px;
  flex: 1;
  
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  

}

.card-top h3 {
  text-transform: capitalize;
  position: flex;
  font-family: 'Inter';
  font-size: 30px;
  line-height: 39px;
  
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  
}

.pokemon-type {
  display: flex;
  padding: 5px 8px;
  gap: 15px;
  
}

.pokemon-type-text {
  position: flex;
  
}

/* .typesPt{
  position: flex;
  color: white;
  text-transform: capitalize;
  background-color: #0d6efd;
} */


.typesPt{
  margin: 0 auto; 
  background: #7e57c2;
  font-family: 'open sans';
  font-size: 0.85em;
  line-height: 1.6em;  
  border-radius: 10px;
  width: auto;
  height: auto;
  color: #fff;
  padding: 10px;
  position: relative;
  margin-top: 20px;
}
.typesPt:after{ /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
  /*Aqui entra a cor da "aba" do balão */
   border-bottom: 20px solid #7e57c2;
  top: -15px; /*localização. Experimente alterar para 'bottom'*/
   left: 33%;
} 




.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.pagination-container  button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pokemon-heart-btn {
  border: none;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  align-items: center;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.App {
  
  text-align: center;
}